body{
    background-color: #1e1e1e;
}

.group{
    border: solid 2px #37373D;
    border-radius: 10px;

    width: fit-content;
    padding: 2px 5px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    cursor: pointer;
}

.editor{
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.editor > .group {
    border: none;
    cursor: unset;
}

.block, .block-with-arrow{
    border-radius: 10px;
    min-height: 27px;
    width: fit-content;

    display: flex;
    gap: 20px;
    align-items: center;

    line-height: 27px;
    color: #E5ECF0;
    background-color: #37373D;
    cursor: pointer;
    border: 2px solid transparent;
}

.block:not(.block-with-arrow>.block){
    padding: 2px 5px;
}

.block-with-arrow{
    padding: 2px 5px;
}

.inline-elems{
    display: flex;
    align-items: flex-start;
    gap: 2px;
    min-height: 27px;
}

.different-line-elems{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selected{
    border-color: #FFE34D !important;
}

.block-can-repeat{
    opacity: 0.5;
    text-decoration: line-through;
}

.block-can-repeat::placeholder{
    text-decoration: line-through;
}

.block-with-selections{
    position: relative;
}

.block-alternate-selections{
    position: absolute;
    min-width: 100%;
    z-index: 1;

    font: inherit;
    background: inherit;
    color: inherit;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: #C2C2C2;
    background-color: #252526;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block-alternate-selection{
    padding: 5px;
    cursor: pointer;
}

.block-alternate-selection:hover{
    background-color: #094771;
    color: #E5ECF0;
}

.arrow{
    width: 8px;
    height: 8px;

    background: white;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(/Images/arrow.svg);
    mask-image: url(/Images/arrow.svg);
}

.block-input{
    border: none;
    border-radius: 10px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;

    font: inherit;
    background: inherit;
    color: inherit;
}

.block-input::placeholder{
    color: inherit;
    opacity: 0.6;
}

.invalid-input{
    background-color: red !important;
    color: white !important;
}