.group{
    background-color: #E7D46F;
    border: solid 2px #B9AA59;
    border-radius: 10px;

    width: fit-content;
    padding: 5px 10px;
    box-sizing: border-box;
}

.editor{
    outline: none;
}

.editor > .group {
    background-color: transparent;
    border: none;
}

.block, .block-with-arrow{
    padding: 5px 10px;
    border-radius: 10px;
    min-height: 27px;
    width: fit-content;

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: chocolate;
    cursor: pointer;
}

.inline-elems{
    display: flex;
    align-items: flex-start;
    gap: 2px;
    min-height: 27px;
}

.different-line-elems{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.selected{
    border: 5px solid #FFE34D !important;
}

.block-can-repeat{
    opacity: 0.5;
}

.block-with-selections{
    position: relative;
}

.block-alternate-selections{
    position: absolute;
    min-width: 100%;
    z-index: 1;

    background-color: orange;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.block-alternate-selection{
    padding: 5px;
    border: 1px solid black;
}

.block-alternate-selection:hover{
    background-color: orangered;
}

.arrow{
    width: 8px;
    height: 8px;

    background: white;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(/Images/arrow.svg);
    mask-image: url(/Images/arrow.svg);
}

.block-input{
    border: none;
    border-radius: 10px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;

    font: inherit;
    background: inherit;
    color: inherit;
}

.block-input::placeholder{
    color: inherit;
    opacity: 0.6;
}

.invalid-input{
    background-color: red !important;
    color: white !important;
}