.line{
    display: flex;
    gap: 30px;
    margin-bottom: 2px;
}

.line-number{
    padding: 10px 15px;
    background-color: #B35D27;
    min-width: 2em;
    text-align: right;
}

.line-elems{
    display: flex;
    gap: 2px;
}

.group{
    display: flex;
    gap: 2px;
    padding: 10px 15px;
    border-radius: 10px;
    
    background-color: #E7D46F;
    border: solid 2px #B9AA59;
}

.block{
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
}

.lines{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}